## Documentation

> Code samples of these libraries will be shown on this pane. Feel free to choose
> your <br> **preferred language** for samples by selecting it in the top bar of this pane.
> <span style="display: block; margin-top: 15px;">API endpoint:</span>
> `https://api.processout.com`

Welcome to the <span class="processout">[ProcessOut](https://www.processout.com)</span> documentation!

Language bindings and examples for different libraries can be found on the right
side of the page. You can switch to your **preferred language** using the menu at
the top of the right side pane.

<div class="table margin-top">
    <div class="table-tr text1-1em">
        <div class="table-td" width="25%">
            <a href="#accept-payments-category">Accept payments &rsaquo;</a>
            <p>
                Accept payments online with your gateways.
            </p>
        </div>
        <div class="table-td" width="25%">
            <a href="#subscriptions-category">Subscriptions &rsaquo;</a>
            <p>
                Manage recurring billing for your business.
            </p>
        </div>
        <div class="table-td" width="25%">
            <a href="#webhooks-category">Webhooks &rsaquo;</a>
            <p>
                Handle every transaction update automatically.
            </p>
        </div>
        <div class="table-td">
            <a href="https://github.com/processout/processout.js" class="title">ProcessOut.js &rsaquo;</a>
            <p>
                Accept payments with your own style.
            </p>
        </div>
    </div>
</div>
