<div id="subscriptions-category"></div>

## Subscriptions

ProcessOut makes it easy to automatically bill your customers periodically.

Payment gateways are abstracted in such a way that you only need to create a
[recurring invoice](#recurring-invoice) resource to make your customer
go through the authorization, and ProcessOut will handle all the payment
methods.

Keep in mind that when using recurring invoices, you will not be able to change
the amount nor the frequency of the charges once the subscription has started.
If this is something that you want — if you run a *Software as a Service* for
instance — our [one-click payment/authorization](#one-click-payments) technology
would better suit your needs.
