<div id="recurring-payments-category"></div>

## Recurring payments

ProcessOut makes it easy to automatically bill your customers periodically.

Payment gateways are abstracted in such a way that you only need to create a
[subscription](#subscriptions) resource to make your customer
go through the authorization, and ProcessOut will handle all the payment
methods and the subscription life cycle.
