## Documentation

> Code samples of these libraries will be shown on this pane. Feel free to choose
> your <br> **preferred language** for samples by selecting it in the top bar of this pane.
> <span style="display: block; margin-top: 15px;">API endpoint:</span>
> `https://api.processout.com`

Welcome to the [ProcessOut](https://www.processout.com) documentation!

Language bindings and examples for different libraries can be found on the right
side of the page. You can switch to your **preferred language** using the menu at
the top of the right side pane.

<table class="margin-top">
    <tr class="text1-1em">
        <td width="25%">
            <a href="#accept-payments-category" class="title">Accept payments &rsaquo;</a>
            <p class="content">
                Accept payments online with your gateways.
            </p>
        </td>
        <td width="25%">
            <a href="#subscriptions-category" class="title">Subscriptions &rsaquo;</a>
            <p class="content">
                Manage recurring billing for your busines.
            </p>
        </td>
        <td width="25%">
            <a href="#webhooks-category" class="title">Webhooks &rsaquo;</a>
            <p class="content">
                Handle every transaction update automatically.
            </p>
        </td>
        <td>
            <a href="https://github.com/processout/processout.js" class="title">ProcessOut.js &rsaquo;</a>
            <p class="content">
                Accept payments with your own style.
            </p>
        </td>
    </tr>
</table>
