## Payment modal

```html
<a class="processout-modal-button"
    href="https://checkout.processout.com/<invoice-id>">
        Test modal
</a>
<script src="https://cdn.processout.com/modal-min.js"></script>
```

> Replace `href` with any link to checkout.processout.com <br>
> It is possible to use any checkout.processout.com url in the modal,
> including <br> authorizations and recurring invoices.

While it's possible to use our hosted checkout pages to invoice your customers,
we also provide you with our payment modal. The modal essentially consists of a window
showing up above your website so your customers never leave your environment.

It is important to note that the modal is compatible with every ProcessOut
checkout pages, being a one-off payment, a recurring invoice or an authorization
to be charged later.
