## Accept payments

### Payment modal

```html
<a class="processout-modal-button"
    href="https://checkout.processout.com/<invoice-id>">
        Test modal
</a>
<script src="https://cdn.processout.com/modal-min.js"></script>
```

> Replace `href` with any link to checkout.processout.com

The easiest way to accept payments with ProcessOut is by using the payment modal,
which takes care of creating the HTML forms and checkout experience, but still
keeps your customer on your website. It is essentially a window showing up in front
of your website when your customer wants to pay.

It is important to note that the modal is compatible with every ProcessOut
checkout pages, being a one-off payment, a recurring invoice or an authorization
to be charged later.

#### What's next?

- [Accept dynamically generated invoices](#invoices)
- [Accept recurring payments/subscriptions](#subscriptions)

### Tailored invoices

```html
<a class="processout-modal-button"
    href="https://checkout.processout.com/t-<tailored-invoice-id>">
        Test modal
</a>
<script src="https://cdn.processout.com/modal-min.js"></script>
```

> Mind the `t-` prefixing the `tailored-invoice-id`!

Tailored invoices is a great way to start using the modal. All you need to do
is [create a tailored invoice](https://processout.zendesk.com/hc/en-us/articles/205747058-Tailored-invoices).
Once created, the id of your tailored invoice -- which can be retrieved from
your dashboard -- can be injected in the modal as shown on the right pane,
using the same code as for common invoices.

## Invoices

Invoice objects are tailored invoices, but dynamic. ProcessOut gives you ability
to programmatically create and mange invoices compatible with all your payment gateways,
in one simple call.

##### Attributes
|||
--:|:--
**id**<br />*string*<br />Read-only |
**url**<br />*string*<br />Read-only | `url` to the ProcessOut checkout page
**project**<br />*[Project](#projects)*<br />Read-only |
**customer**<br />*[Customer](#customers)*<br />Read-only |
**name**<br />*string*<br />Required | Name of the invoice/item to sell
**price**<br />*string*<br />Required | Price of the invoice/item
**taxes**<br />*string* | Taxes applied to the invoice/item
**shipping**<br />*string* | Shipping fees applied to the invoice/item
**total**<br />*string*<br />Read-only | Total amount of the invoice
**currency**<br />*string*<br />Required | Currency of the invoice, in the ISO 4217 format (ex: `USD`, `EUR`)
**metas**<br />*map/dictionary* | Meta data displayed on the checkout page
**request_email**<br />*boolean* | If set to `true`, a customer with an email will be required
**request_shipping**<br />*boolean* | If set to `true`, a customer with a shipping address will be required
**return_url**<br />*string* | `url` used to redirect the customer once the payment is placed
**cancel_url**<br />*string* | `url` used to redirect the customer when the payment is canceled |ProcessOut cancelation landing page
**custom**<br />*string* | Custom data passed in the [webhooks](#webhooks) (ex: id of the customer in your database)
**sandbox**<br />*boolean*<br />Read-only |

### One-off payments

```javascript
// Create a new invoice
var invoice      = new ProcessOut.Invoice();
invoice.setName('Amazing item');
invoice.setPrice(4.99);
invoice.setCurrency('USD');
// You may set any field listed in table on the right pane

// Push it to ProcessOut
invoice.create()

// Print the id of the invoice to be used with the modal
console.log(invoice.getId())
// > 64db379a-301f-4db6-859e-a0b342ff0b66
// or its checkout url
console.log(invoice.getUrl())
// > https://checkout.processout.com/64db379a-301f-4db6-859e-a0b342ff0b66
```

```python
from processout.invoice import Invoice

# Create a new invoice object
invoice          = Invoice()
invoice.name     = 'Amazing item'
invoice.price    = 4.99
invoice.currency = 'USD'
# You may set any field listed in table on the right pane

# Push it to ProcessOut
invoice.create()

# Print the id of the invoice to be used with the modal
print(invoice.id)
# > 64db379a-301f-4db6-859e-a0b342ff0b66
# or its checkout url
print(invoice.url)
# > https://checkout.processout.com/64db379a-301f-4db6-859e-a0b342ff0b66
```

```php
<?php
// Create a new invoice
$invoice = new \ProcessOut\Invoice();
$invoice
    ->setName('Amazing item')
    ->setPrice(4.99)
    ->setCurrency('USD');
// You may set any field listed in table on the right pane

// Push it to ProcessOut
$invoice->create();

// Print the id of the invoice to be used with the modal
echo $invoice->getId();
// > 64db379a-301f-4db6-859e-a0b342ff0b66
// or its checkout url
echo $invoice->getUrl();
// > https://checkout.processout.com/64db379a-301f-4db6-859e-a0b342ff0b66
?>
```


Invoices may also be programmatically generated to provide a customized
payment flow for your customers.

Once an invoice is created, its checkout URL `url` and unique identifier `id`
are returned. You may then choose to redirect your customer to our payment
page, or to use our [payment modal](#payment-modal).
