# Invoices

Invoices are a quick way of generating a checkout for your customers.

Once an invoice is created, you will receive its checkout URL `url` as well as its unique identifier `id`. Simply redirect your customer to the `url` to perform the transaction, or create a new modal -- using our javascript library -- with the `id`.

## Create a new invoice

```shell
curl --user "<project-id>:<project-secret>" \
     --request POST \
     --header "Content-Type: application/json" \
     --data-binary "{
        \"item_name\": \"Awesome item\",
        \"item_price\": 4.99,
        \"item_quantity\": 1,
        \"currency\": \"USD\",
        \"taxes\": 0.49,
        \"shipping\": 2.00,
        \"discount\": 50,
        \"return_url\": \"https://company.tld/success\",
        \"cancel_url\": \"https://company.tld/cancel\",
        \"notify_url\": \"https://company.tld/webhook\",
        \"custom\": \"42\",
        \"recurring_days\": 7,
        \"sandbox\": 1
    }" \
    <%= api_link '/invoices' %>

# Happy response (200):
{
  "success": true,
  "id": "<invoice-id>",
  "url": "https://checkout.processout.com/index/<invoice-id>"
}
```

```php
<?php
// Load dependencies
require 'vendor/autoload.php';

// Instantiate ProcessOut
$processout = new \ProcessOut\ProcessOut(
    '<project-id>',
    '<project-secret>');

// Create a new invoice
$invoice = new \ProcessOut\Invoice\Invoice(
    $processout,                                  // ProcessOut instance
    '1 copy of a wonderful product at $4.99 USD', // Title
    4.99,                                         // Price
    1,                                            // Quantity
    'USD');                                       // Currency
?>
```

```python
# Load dependencies
from processout.processout      import ProcessOut
from processout.invoice.invoice import Invoice

# Instantiate ProcessOut
processout = ProcessOut(
    '<project-id>',
    '<project-secret>')

# Create a new invoice
invoice = Invoice(
    processout,                                   # ProcessOut instance
    '1 copy of a wonderful product at $4.99 USD', # Title
    4.99,                                         # Price
    1,                                            # Quantity
    'USD')                                        # Currency
```

Create an invoice.

Adding the `recurring_days` field enables you to automatically charge a user every `x` days. Every payment iteration will automatically be managed by ProcessOut.

### HTTP request

`POST <%= api_link('/invoices') %>`

## Create from a tailored invoice

```shell
curl --user "<project-id>:<project-secret>" \
     --request POST \
     --header "Content-Type: application/json" \
     --data-binary "{
        \"return_url\": \"https://company.tld/success\",
        \"cancel_url\": \"https://company.tld/cancel\",
        \"notify_url\": \"https://company.tld/webhook\",
        \"custom\": \"my_customer_id=1\",
        \"sandbox\": 1
    }" \
    <%= api_link '/invoices/from-tailored/<tailored-invoice-id>' %>

# Happy response (200):
{
  "success": true,
  "id": "<invoice-id>",
  "url": "https://checkout.processout.com/index/<invoice-id>"
}
```

```php
<?php
// Load dependencies
require 'vendor/autoload.php';

// Instantiate ProcessOut
$processout = new \ProcessOut\ProcessOut(
    '<project-id>',
    '<project-secret>');

// Create a new invoice from a tailored invoice
$invoice = new \ProcessOut\Invoice\TailoredInvoice(
    $processout,
    '<tailored-invoice-id>');
?>
```

```python
# Load dependencies
from processout.processout              import ProcessOut
from processout.invoice.tailoredinvoice import TailoredInvoice

# Instantiate ProcessOut
processout = ProcessOut(
    '<project-id>',
    '<project-secret>')

# Create a new invoice from a tailored invoice
invoice = TailoredInvoice(
    processout,
    '<tailored-invoice-id>')
```

> Make sure to replace `<tailored-invoice-id>` with your tailored invoice id.

`Tailored invoices` are invoices which can be stored in your ProcessOut account
and used as a template for new invoices, in which you can set default values for
fields of your choosing.

It is possible to create invoices from these tailored invoices using our API.

### HTTP request

`POST <%= api_link('/invoices/form-tailored/<tailored-invoice-id>') %>`

### URL Parameters

Parameter | Description
--------- | -----------
tailored-invoice-id | The ID of the tailored invoice

## Get invoice attributes

```shell
# There is no shell library
```

```php
<?php
// Let's assume $invoice has previously been instantiated

echo $invoice->getItemName();
echo $invoice->getItemPrice();
echo $invoice->getItemQuantity();
echo $invoice->getCurrency();
echo $invoice->getTaxes();
echo $invoice->getShipping();
echo $invoice->getDiscount(); # percentage
echo $invoice->getReturnUrl();
echo $invoice->getCancelUrl();
echo $invoice->getNotifyUrl();
echo $invoice->getCustom();
echo $invoice->getSandbox();
?>
```

```python
# Let's assume invoice has previously been instantiated

print (invoice.itemName)
print (invoice.itemPrice)
print (invoice.itemQuantity)
print (invoice.currency)
print (invoice.taxes)
print (invoice.shipping)
print (invoice.discount) # percentage
print (invoice.returnUrl)
print (invoice.cancelUrl)
print (invoice.notifyUrl)
print (invoice.custom)
print (invoice.sandbox)
```

Once an invoice instance has been created, you might need to access its
attributes.

## Set invoice attributes

Once an invoice instance has been created, you might need to set or update its
attributes.

```shell
# There is no shell library
```

```php
<?php
// Let's assume $invoice has previously been instantiated

$invoice->setItemName('new name');
$invoice->setItemPrice(4.20);
$invoice->setItemQuantity(4);
$invoice->setCurrency('EUR');
$invoice->setTaxes(4.20);
$invoice->setShipping(4.20);
$invoice->setDiscount(42); // percentage
$invoice->setReturnUrl('http(s)://your.site/return');
$invoice->setCancelUrl('http(s)://your.site/cancel');
$invoice->setNotifyUrl('http(s)://your.site/webhook');
$invoice->setCustom('my_customer_id=1');
$invoice->setSandbox(true);
?>
```

```python
# Let's assume invoice has previously been instantiated

invoice.itemName     = 'new name'
invoice.itemPrice    = 4.20
invoice.itemQuantity = 4
invoice.currency     = 'EUR'
invoice.taxes        = 4.20
invoice.shipping     = 4.20
invoice.discount     = 42 # percentage
invoice.returnUrl    = 'http(s)://your.site/return'
invoice.cancelUrl    = 'http(s)://your.site/cancel'
invoice.notifyUrl    = 'http(s)://your.site/webhook'
invoice.custom       = 'my_customer_id=1'
invoice.sandbox      = true
```

## Redirect customer to checkout

```shell
# Use the url field returned in the response
```

```php
<?php
// Let's assume $invoice has previously been instantiated

echo 'Link: ' . $invoice->getLink();
// You may also only get the invoice id
echo 'Id: ' . $invoice->getId();
?>
```

```python
# Let's assume invoice has previously been instantiated

print ('Link: ' + invoice.getLink())
# You may also only get the invoice id
print ('Id: ' + invoice.getId())
```

Once an invoice is created, it is possible to redirect the customer to the
checkout page.

## Modals / Self hosted checkout

```html
<a class="processout-modal-button"
    data-invoiceid="<invoice-id>"
    href="https://checkout.processout.com/<invoice-id>">
        Test modal
</a>
<script src="https://cdn.processout.com/scripts/modal-min.js"></script>
```

> Make sure to replace `<invoice-id>` with your invoice id.

ProcessOut allows its users to directly host their checkout pages on their
websites or applications. Most of the time, this is done using a modal.

<a class="processout-modal-button"
    data-invoiceid="c0d39419-5f38-45bf-85e4-7aa89a980d59"
    href="https://checkout.processout.com/c0d39419-5f38-45bf-85e4-7aa89a980d59">
        Test modal
</a>
<script src="https://cdn.processout.com/scripts/modal-min.js"></script>
