<div class="language-selector">
    <a href="#" data-language="shell" class="selected">cURL</a> 
    <a href="#" data-language="python">Python</a> 
    <a href="#" data-language="php">PHP</a> 
    <a href="#" data-language="go">Go</a> 
    <a href="#" data-language="javascript">Node.js</a>
</div>
    