## Welcome!

Greetings on the <span class="processout">ProcessOut</span> documentation. 
The <span class="processout">ProcessOut</span> documentation offers
a few guides to get you started quickly. If at any time you'd rather
read our API references, those are available [here &nearr;](refs/index.html).

<div class="row margin-top">
    <div class="medium-4 columns">
        <div class="shadow-background">
            <a href="#accept-payments-category">Accept payments &rsaquo;</a>
            <p>
                Accept payments online with your gateways.
            </p>
        </div>
    </div>
    <div class="medium-4 columns">
        <div class="shadow-background">
            <a href="#subscriptions-category">Subscriptions &rsaquo;</a>
            <p>
                Manage recurring billing for your business.
            </p>
        </div>
    </div>
    <div class="medium-4 columns">
        <div class="shadow-background">
            <a href="https://github.com/processout/processout.js" class="title">ProcessOut.js &rsaquo;</a>
            <p>
                Accept payments with your own style.
            </p>
        </div>
    </div>
</div>

<div class="spacer"></div> 

#### Available libraries

<span class="processout">ProcessOut</span> offers a few handy libraries so
you don't have to re-implent raw HTTP requests and make it easy right
from the start. Below is the list of the currently officially supported
<span class="processout">ProcessOut</span> libraries/packages:

* [processout-go](github.com/processout/processout-go)
* [processout-php](github.com/processout/processout-php)
* [processout-node](github.com/processout/processout-node)
* [processout-python](github.com/processout/processout-python)