<div id="webhooks-category"></div>

## Webhooks

Processing [events](#events) can be done through webhooks (also called
callbacks or Instant Payment Notification: IPN). It is essentially a web
request made to your web application, notifying you of the new event.
Webhooks can be used to automatically deliver an item upon successful
payment for example.

However, as many payment gateways can be used at the same time, ProcessOut
provides webhooks containing unified, normalized and easy to use data, as well
as transaction states corresponding to the triggered event.

### Pre-requisites

In order to start receiving webhooks, you must add your `webhook endpoint`s in your
[ProcessOut dashboard](https://dashboard.processout.com).

You should also note that *we will always `POST` a json encoded body request*
to your application. Therefore, you should accept POST requests with a json
encoded body.

Furthermore, you should *remove all CSRF protection* on your endpoints receiving
webhooks. Most frameworks and CMS activate it by default, which could
prevent ProcessOut from correctly posting webhooks to your application.


### Usage

```sh
# Webhooks are not supported with cURL.
```

```javascript
<%= partial "header-js" %>
// req is filled with the decoded json data from the request body
ProcessOut.Event.find(req['event_id']).then(function(event) {
    // We may now access the event
    var data = event.getData();

    switch (data['name']) {
    case 'invoice.completed':
        // Successful payment
        break;
    case 'invoice.pending':
        // Payment still needs some time to be processed
        break;
    // ...
    default:
        console.log('Unknown webhook action');
        return;
    }

}, function(err) {
    // An error occured, most likely the event was coming from an
    // untrusted source

});
```

```python
<%= partial "header-python" %>

# req is filled with the decoded json data from the request body
event = processout.Event.find(req['event_id'])
data  = event.data

if data['name'] == 'invoice.completed':
    # Successful payment
    pass

elif data['name'] == 'invoice.pending':
    # Payment still needs some time to be processed
    pass

# ...

else:
    # Shouldn't be here..
    print('Unknown webhook action')
```

```php
<%= partial "header-php" %>
$reqRaw = trim(file_get_contents('php://input'));
$req    = json_decode($reqRaw, true);

$event = ProcessOut\Event::find($req['event_id']);
$data  = $event->getData();

switch($data['name'])
{
case 'invoice.completed':
    // Successful payment
    break;
case 'invoice.pending':
    // Payment still needs some time to be processed
    break;
// ...
default:
    echo 'Unknown webhook action'; exit();
}
```

```go
<%= partial "header-go" %>
// EventData is the definition of a ProcessOut Event data
type EventData struct {
    Name        string              `json:"name"`
    Sandbox     bool                `json:"sandbox"`
    Invoice     *processout.Invoice `json:"invoice"`
}

// ProcessOutWebhook is the definition of a ProcessOut webhook
type ProcessOutWebhook struct {
    EventID string `json:"event_id"`
}

func handleProcessOutWebhooks(w http.ResponseWriter,
	r *http.Request) {

	defer r.Body.Close()
	reqRaw, err := ioutil.ReadAll(r.Body)
	if err != nil {
		panic(err)
	}

	// Decode the webhook
	webhook := &ProcessOutWebhook{}
	json.Unmarshal(reqRaw, &webhook)

    // Fetching the associated event
    event, err := p.Events.Find(webhook.EventID)
    if err != nil {
        // Webhook not found, most likely coming from an
        // insecure source
		w.WriteHeader(http.StatusBadRequest)
		return
    }

    e, _ := event.(EventData)
	switch e.Name {
	case "invoice.completed":
		// Successful payment

	case "invoice.pending":
		// Payment still needs some time to be processed

	// ...

	default:
		// Return an HTTP OK response so that unsuported
		// webhooks do not get sent again
		w.WriteHeader(http.StatusOK)
		return
	}
}
```

The webhooks your web application receives only contain the ID of the event,
which can then be [fetched](#find-an-event) through the ProcessOut API to 
access the actual data of the event.